.bkg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #0000005b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont {
    width: 30%;
    background-color: white;
    padding: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #555454;
}